<p id="notice"><%= notice %></p>

<h1>Member Elements</h1>

<table>
  <thead>
    <tr>
      <th>Item1 Id</th>
      <th>Item2 Id</th>
      <th>Item3 Id</th>
      <th>Item4 Id</th>
      <th>Item5 Id</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_elements.each do |member_element| %>
      <tr>
        <td><%= member_element.item1_id %></td>
        <td><%= member_element.item2_id %></td>
        <td><%= member_element.item3_id %></td>
        <td><%= member_element.item4_id %></td>
        <td><%= member_element.item5_id %></td>
        <td><%= member_element.member %></td>
        <td><%= link_to 'Show', member_element %></td>
        <td><%= link_to 'Edit', edit_member_element_path(member_element) %></td>
        <td><%= link_to 'Destroy', member_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member Element', new_member_element_path %>
