<p id="notice"><%= notice %></p>

<p>
  <strong>Item1 Id:</strong>
  <%= @member_element.item1_id %>
</p>

<p>
  <strong>Item2 Id:</strong>
  <%= @member_element.item2_id %>
</p>

<p>
  <strong>Item3 Id:</strong>
  <%= @member_element.item3_id %>
</p>

<p>
  <strong>Item4 Id:</strong>
  <%= @member_element.item4_id %>
</p>

<p>
  <strong>Item5 Id:</strong>
  <%= @member_element.item5_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @member_element.member %>
</p>

<%= link_to 'Edit', edit_member_element_path(@member_element) %> |
<%= link_to 'Back', member_elements_path %>
