<%= form_for(member_work) do |f| %>
  <% if member_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_work.errors.count, "error") %> prohibited this member_work from being saved:</h2>

      <ul>
      <% member_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :main_session_attendance %>
    <%= f.text_area :main_session_attendance %>
  </div>

  <div class="field">
    <%= f.label :sub_session_attendance %>
    <%= f.text_area :sub_session_attendance %>
  </div>

  <div class="field">
    <%= f.label :bill_proposal %>
    <%= f.text_area :bill_proposal %>
  </div>

  <div class="field">
    <%= f.label :member_id %>
    <%= f.text_field :member_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
