<p id="notice"><%= notice %></p>

<p>
  <strong>Main session attendance:</strong>
  <%= @member_work.main_session_attendance %>
</p>

<p>
  <strong>Sub session attendance:</strong>
  <%= @member_work.sub_session_attendance %>
</p>

<p>
  <strong>Bill proposal:</strong>
  <%= @member_work.bill_proposal %>
</p>

<p>
  <strong>Member:</strong>
  <%= @member_work.member %>
</p>

<%= link_to 'Edit', edit_member_work_path(@member_work) %> |
<%= link_to 'Back', member_works_path %>
