<p id="notice"><%= notice %></p>

<h1>Member Stats</h1>

<table>
  <thead>
    <tr>
      <th>Item1 point</th>
      <th>Item2 point</th>
      <th>Item3 point</th>
      <th>Item4 point</th>
      <th>Item5 point</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_stats.each do |member_stat| %>
      <tr>
        <td><%= member_stat.item1_point %></td>
        <td><%= member_stat.item2_point %></td>
        <td><%= member_stat.item3_point %></td>
        <td><%= member_stat.item4_point %></td>
        <td><%= member_stat.item5_point %></td>
        <td><%= member_stat.member %></td>
        <td><%= link_to 'Show', member_stat %></td>
        <td><%= link_to 'Edit', edit_member_stat_path(member_stat) %></td>
        <td><%= link_to 'Destroy', member_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member Stat', new_member_stat_path %>
