<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Region</th>
      <th>Location</th>
      <th>Rank</th>
      <th>Department</th>
      <th>Address</th>
      <th>Email</th>
      <th>Homepage</th>
      <th>Birth</th>
      <th>Career</th>
      <th>Military</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.party_id %></td>
        <td><%= member.region_id %></td>
        <td><%= member.location %></td>
        <td><%= member.rank %></td>
        <td><%= member.department %></td>
        <td><%= member.address %></td>
        <td><%= member.email %></td>
        <td><%= member.homepage %></td>
        <td><%= member.birth %></td>
        <td><%= member.career %></td>
        <td><%= member.military %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
